[[headers]]
  for = "/*"
  [headers.values]
    Content-Security-Policy = "upgrade-insecure-requests; img-src 'self' http://defi24.mathis-guellati.fr:8891 https://defi24.mathis-guellati.fr:8891 data: blob:; default-src 'self' http://defi24.mathis-guellati.fr:8891 https://defi24.mathis-guellati.fr:8891; connect-src 'self' http://defi24.mathis-guellati.fr:8891 https://defi24.mathis-guellati.fr:8891"