---
import Layout from "../layouts/Layout.astro"
import Icon from "../assets/Icon.svg"
import Trophy from "../assets/trophy.svg"
import Medals from "../assets/medals.svg"
import Calendar from "../assets/calendar.svg"
import Button from "../components/Button.astro"
---

<Layout>
    <div class="flex flex-col mb-15 justify-center items-center mt-25 lg:mt-40 px-4">
		<h1
			class="text-white w-8/10 font-oi text-center text-4xl sm:text-5xl md:text-6xl lg:text-7xl xl:text-8xl leading-tight sm:leading-tight md:leading-normal tracking-wide">
            Qui sera le champion ?
        </h1>
    </div>
    <div class="flex flex-col items-center space-y-10">
        <div
            class="space-y-6 lg:space-y-8 bg-white/80 w-8/10 px-6 sm:px-8 md:px-10 py-7 md:py-10 lg:py-15 rounded-2xl font-nohemi shadow-[0_0_0_2px_black,3px_3px_0px_1px_black] sm:shadow-[0_0_0_3px_black,4px_4px_0px_2px_black]">
            <div
                class="flex justify-center mx-auto bg-yellow w-20 h-20 lg:w-25 lg:h-25 items-center rounded-full shadow-[0_0_0_3px_black,4px_4px_0px_2px_black]">
                <img src={Icon.src} alt="page bloqué" class="w-14 h-14 lg:w-16 lg:h-16" />
            </div>
            <h2 class="text-2xl sm:text-3xl md:text-4xl font-black text-center">Patience, le suspense monte !</h2>
            <p class="text-base text-center sm:text-lg text-[#717182] w-8/10 md:text-xl mx-auto">
                Le classement sera dévoilé après l'événement du <span class="text-tertiary font-black">09 janvier
                    2026</span>. Prépare-toi à donner le meilleur de toi-même !
            </p>
            <div class="flex flex-col lg:grid lg:grid-cols-3 gap-10 mt-8">
                <div
                    class="rounded-2xl py-10 px-4 bg-primary/10 font-nohemi shadow-[0_0_0_2px_black,3px_3px_0px_1px_black] sm:shadow-[0_0_0_3px_black,4px_4px_0px_2px_black] space-y-4">
                    <div
                        class="flex justify-center mx-auto bg-primary w-15 h-15 items-center rounded-full shadow-[0_0_0_3px_black,4px_4px_0px_2px_black]">
                        <img src={Trophy.src} alt="page bloqué" class="w-10 h-10" />
                    </div>
                    <p class="font-nohemi text-center font-black text-2xl">Trophées à gagner</p>
                </div>
                <div
                    class="rounded-2xl py-10 px-4 bg-yellow/10 font-nohemi shadow-[0_0_0_2px_black,3px_3px_0px_1px_black] sm:shadow-[0_0_0_3px_black,4px_4px_0px_2px_black] space-y-4">
                    <div
                        class="flex justify-center mx-auto bg-yellow w-15 h-15 items-center rounded-full shadow-[0_0_0_3px_black,4px_4px_0px_2px_black]">
                        <img src={Calendar.src} alt="page bloqué" class="w-10 h-10" />
                    </div>
                    <p class="font-nohemi text-center font-black text-2xl">09 Janvier 2026</p>
                </div>
                <div
                    class="rounded-2xl py-10 px-4 bg-green/10 font-nohemi shadow-[0_0_0_2px_black,3px_3px_0px_1px_black] sm:shadow-[0_0_0_3px_black,4px_4px_0px_2px_black] space-y-4">
                    <div
                        class="flex justify-center mx-auto bg-green w-15 h-15 items-center rounded-full shadow-[0_0_0_3px_black,4px_4px_0px_2px_black]">
                        <img src={Medals.src} alt="page bloqué" class="w-10 h-10" />
                    </div>
                    <p class="font-nohemi text-center font-black text-2xl">Plusieurs catégories</p>
                </div>
            </div>
            <div class="mt-10 lg:mt-16 flex justify-center">
                <Button bgClass="bg-tertiary" colorClass="text-white" text="Retour à l'accueil" page="" />
            </div>
        </div>
        <div
            class="rounded-2xl w-8/10 text-center lg:w-auto py-5 px-4 bg-white/80 font-nohemi shadow-[0_0_0_2px_black,3px_3px_0px_1px_black] sm:shadow-[0_0_0_3px_black,4px_4px_0px_2px_black]4">
            💡 En attendant, inscris-toi et forme ton équipe !
        </div>
    </div>
</Layout>