---
interface Props {
    bgClass: string;
    colorClass: string;
    text: string;
}

const { bgClass, colorClass, text } = Astro.props;
---

<a 
    href="/connexion" 
    class={`inline-block ${bgClass} ${colorClass} px-10 py-3 rounded-full font-nohemi font-black text-lg shadow-[0_0_0_3px_black,4px_4px_0px_2px_black] hover:scale-105 transition transform ease-in`}
>
    {text}
</a>
