---
import Button from "../components/Button.astro"
---

<header class="bg-white w-1/2 rounded-full border-3 border-black shadow-[4px_4px_0px_0px_rgba(0,0,0,1)] px-8 py-4">
    <div class="flex items-center justify-between">
        <a href="/" class="font-oi text-2xl flex flex-col text-center leading-none">
            <span>24</span>
            <span class="uppercase">heures</span>
        </a>
        <nav>
            <ul class="capitalize flex gap-8">
                <li><a href="/equipes">équipes</a></li>
                <li><a href="/classement">classement</a></li>
                <li><a href="/programme">programme</a></li>
                <li><a href="/creations">créations</a></li>
                <li><a href="/galerie">galerie</a></li>
            </ul>
        </nav>
        <Button bg="tertiary" color="white" text="Connexion" />
    </div>
</header>